.character-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.character-image-container {
  position: relative;
}

.chip-container {
  position: absolute;
  top: 0.5rem;
  left: 10.5rem;
}

.character-details-container img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

.character-details-container h2 {
  margin-top: 1rem;
  text-align: center;
}

.character-details-container .character-details-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.character-details-container .character-details-form .form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.character-details-container .character-details-form .form-row .form-label {
  font-weight: bold;
  margin-right: 1rem;
}

.character-details-container .character-details-form .form-row .form-value {
  font-weight: normal;
}
