body {
  margin: 0;
}  

.content {
  flex-grow: 1;
}

.footer {
  margin-top: 80px;
}

.imgcontainer{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.heroimg{
  width: 600px;
}

a:-webkit-any-link  {
  text-decoration: none;
  }
